body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
nav{
	background: #3D76DA;
	height: 80px;
	width: 100%;
}
label.MiniBlog{
	color: white;
	font-size: 35px;
	line-height:80px;
	padding: 0 15px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 30px;
	color: white;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;

}
nav a{
	color: white;
}
*{
	font-family: sans-serif;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
	
}
form{
	width: 1300px;
	border: 1px solid #ccc;
	padding:  30px;
	border-radius: 15px;
	margin-top: 20px;
	box-shadow: 0 0 20px 2px rgba(100, 100, 100, 0.15);
}
h2{
	text-align: left;
	margin-bottom: 40px;
}
h1{
	text-align: center;

}
input{
	display: block;
	width: 95%;
	padding: 30px;
	margin: 5px auto;
	border: none;
	border-bottom: solid 1px;
	outline: none;

}
button{
	float: left;
	background: #40E0D0;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error{
	background: #F2DEDE;
	color: #A94442;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;
}

#return{
	text-decoration: none;
}
.success{
	background: #D4EDDA;
	color: #40754C;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;
}
#create{
	background: #2986cc;

	box-shadow: 0 0 20px 2px rgba(100, 100, 100, 0.25);
}
#post{
	margin-top: 30px;
	box-shadow: 0 0 20px 2px rgba(100, 100, 100, 0.25);
}
#delete-post{
	background: #CB0E00;
	margin-top: 10px;
	box-shadow: 0 0 20px 2px rgba(100, 100, 100, 0.25);
}
#edit-post{
	background: #609F1C;
	margin-top: 10px;
	box-shadow: 0 0 20px 2px rgba(100, 100, 100, 0.25);
}
#cpost{
	font-size: 24px;
}